{% extends "employees/base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/employee_list.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <form method="GET" class="mb-3 d-flex justify-content-end">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search by Name" value="{{ search_term }}" aria-label="Search by Name">
                <select name="road_number" class="form-select mx-2" aria-label="Select Road Number">
                    <option value="">Select Road Number</option>
                    {% for road in road_numbers %}
                        <option value="{{ road }}" {% if road == road_number_filter %}selected{% endif %}>{{ road }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>RFID Card</th>
                    <th>Job Description</th>
                    <th>Road Number</th>
                    <th>House Number</th>
                    <th>Expiration Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.rfid_card }}</td>
                    <td>{{ employee.job_description }}</td>
                    <td>Road 12</td>
                    <td>23/KA</td>
                    <td>{{ employee.expire_date }}</td>
                    <td>{% if employee.is_active %} Active {% else %} Expired {% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
