{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nav</title>
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">  
    
</head>
<body>
<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-brand">My Project</a>
        <ul class="navbar-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/employees/new/">Add New</a></li>
            <li><a href="/employees/">All Employees</a></li>
            <li><a href="/user_list/">Employees in Machine</a></li>
            <li><a href="/staff/">Staff</a></li>
        </ul>
        <button class="navbar-toggle" id="navbarToggle">
            <span class="navbar-toggle-icon"></span>
        </button>
    </div>
</nav>

</body>
</html>