{% extends 'employees/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/user_list.css' %}">
{% endblock %}
{% block content %}
<div class="container">
        <h1>Users on ZKTeco Device</h1>
        <table>
            <thead>
                <tr> 
                    <th>UID</th>
                    <th>RFID Number</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.Badge_Number }}</td>
                    <td>{{ user.name }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No users found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}